@model task_6th_feb.Models.Order

<div>
    
    <table class="dl-horizontal">
        <tr>
            <td>
                Order ID:
            </td>

            <td>
                @Model.OrderID
            </td>
        </tr>
        <td>
           Order Date: 
        </td>

        <td>
            @Model.OrderDate
        </td>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
